body            { height: 900px; font-family: sans-serif; background: url("images/mhw.jpg"); background-size: 500px;}
a#home          { text-decoration: none; font-size: 1.5em; color: rgb(0, 177, 0);}
a, h1           { color: white; }
p, dl, dt       { color: white; font-weight: bold; }
h3              {color: rgb(0, 177, 0);}
.details > h2   {cursor: pointer; color: white;}
h2              {color: lightgrey;}
h1, h2, h3      { font-family: sans-serif; margin: 0; }
h1, h2          { border-bottom: 1px solid lightgrey; padding: 5px; }
h3              { padding: 3px; }
dd              { display: block; margin-left: 0px; }
dl              { font-weight: bold; }
.page           { margin: 2em auto; width: 35em; border: 5px solid rgb(41, 41, 41); padding: 0.8em; background: rgb(0, 0, 0); max-height: 870px; }
.results          { list-style: none; margin: 0; padding: 0; overflow-y: scroll; height: 790px;}
.results li       { margin: 0.8em 1.2em; }
.results li h2    { margin-left: -1em; }
.metanav        { text-align: left; font-size: 0.8em; padding: 0.3em; margin-bottom: 1em; background: #353535; }
.flash          { background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }
div.details:nth-child(even) {background: rgb(41, 41, 41)}
.details > h2       {padding:10px;}